{% extends 'base.html' %}
{% block title %}Search Results{% endblock title %}

{% block body %}
   <div class="max-width-1 m-auto"><hr></div>
    <div class="home-articles max-width-1 m-auto">
        <h2>Search Results </h2>
        {% if search %}
        {% for p in search %}
        <div class="home-article">
            <div class="article-img">
                <img  src="{{p.image.url}}" alt="">
            </div>
            <div class="article-content">
                <a href="{{p.slug}}">
                <h3>{{p.title}}</h3>
                </a>
                <div>{{p.text | truncatechars:30}}</div>
                <span>{{p.date}}</span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="max-width-1 m-auto">Result Not Found</div>

        {% endif %}


        
{% endblock body %}